.ItemDetail{
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: white;
    
}


@media (min-width: 375px) {
    .ItemDetail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        border-radius: 5px;
        box-shadow: rgba(151, 156, 161, 0.2) 0px 8px 24px;
    }
    .ItemDetail figure{
        width: 95%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      
        margin: 0 auto;
    }
    .ItemDetail figure img{
        width: 98%;
    }
    
    .ItemDetail-info{
        width: 95%;
        margin: 0 auto;
        margin-top: 1.4rem;
       
    }
    .ItemDetail-info h2{
        font-size: 1.7rem;
        text-align: center;
        font-weight: 700;
    }
    .ItemDetail-info p{
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
        text-align: start;
        

    }
    .buttons-item-detail{
        display: flex;
        justify-content: start;
        margin-bottom: 1.4rem;
        margin-top: 1rem;
        margin-left: .6rem;
    }
}

@media (min-width: 768px) {
    .ItemDetail-container{
        flex-direction: column;
        width: 60%;
    }
    .ItemDetail{
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    .ItemDetail figure{
        width: 60%;
        display: flex;
        margin-right: 20px;
        margin: 0 auto;
       
    }
    .ItemDetail figure img{
        width: 100%;
    }
    
    .ItemDetail-info{
        width: 90%;
        margin: 0 auto;
        margin-left: 10px;
    }
    .ItemDetail-info h3{
        font-weight: 700;
    }
    .ItemDetail h2{
        width: 100%;
        text-align: center;
    }
    .buttons-item-detail{
        flex-direction: row;
        justify-content: start;
    }
    .ItemDetail-img{
        width: 40%;
    }
}

@media all and (min-width:1024px){
    .ItemDetail-img{
        width:60%;
    }
    .ItemDetail-info{
        width: 90%;
        margin: 0 auto;
        margin-left: 10px;  
    }
}