@media all and (min-width:375px){
  .bg-navbar {
    border-radius: 7px;
    background-color: #c7dcca;
    
  
  }
  .logo-png {
    width: 60px;
    margin-right: 20px;
  }
  .logo-png img {
    width: 100%;
  }
  .logo-png figure{
    margin: 0;
  }

  .link {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
    padding-right: .3rem;
    
  }
  .link:hover {
    color: #c7dcca;
    background-color: #2c2c2c;
    border-radius: 7px;

  }
  .menu-nav{
    display: flex;
    justify-content: center;
  }
}


@media all and (min-width: 1024px) {
  
  
  
  
  .CartWidget {
    width: 30px;
    margin-right: 20px;
  }
  
}