.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 95%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 3rem ;
  background-color: whitesmoke;
  border-radius: 10px;
}

