@media all and (min-width: 360px) {
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
  }

  .error {
    color: red;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

 @media all and (min-width:768px){
    .login{
        width: 70%;
    }
 }

 @media all and (min-width:1024px){
    .login{
        width: 40%;
    }
 }
