#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body{
background-image: url("./assets/background.jpg");
}

.imgContainer{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


@media all and (min-width:375px){

  .cart-products{
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(21, 21, 77);

    padding: .4rem;
    margin-top: .7rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: whitesmoke;
  }
  .cart-image{
    width: 90px;
    
    border-radius: 5px;
  }
  .cart-image img{
    width: 100%;
  }

}

